* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}

.col {
    flex-basis: calc(100% / 3 - (15px * 2) / 3);
    min-width: 290px;
    min-height: 400px;
    flex-grow: 1;
}

button {
    border: none;
    background-color: transparent;
}

#pricing-plans {
    font-family: sans-serif;
    padding: 1rem;

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    ul {
        list-style: none;
    }

    .card {
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 9px rgba(194, 194, 194, 0.363);


        .body-card {
            text-align: center;
        }

        .list {
            line-height: 45px;
            text-align: left;

            li>span {
                font-size: 14px;
                padding: 0 0.5rem;
            }

            li>i {
                font-size: 1.5rem;
            }
        }

        .price {
            margin: 1rem 0;

            .number {
                font-size: 3rem;
                font-weight: bold;
            }
        }

        .discount {
            font-size: 13px;
            margin: 1rem 0;
        }
    }

}

.btn {
    width: 100%;
    background-color: #6500ff;
    border-radius: 0.5rem;
    padding: 0.75rem;
    color: white;
    font-weight: bold;
}

.primary-btn {
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.75rem;
    color: #6500ff;
    font-weight: bold;
}

.gray-txt {
    color: gray;
    font-size: 12px;
}

.white-txt {
    color: white;
    font-size: 12px;
}

.gray-background {
    background-color: rgba(194, 192, 192, 0.566);
    border-radius: 5px;
    padding: 0.35rem;
}

.primary-card {
    background-color: #6500ff;
    color: white;
}

.white-background {
    background-color: white;
    border-radius: 5px;
    padding: 0.35rem;
    color: black;
}